@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins&display=swap');

.app {
  width: 100vw;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  background-color: #2F303A;
}

.app-header{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(./Components/imgs/firstbackground.svg);
  background-repeat: no-repeat;
  background-size: 29%;
  background-position: left 10% top 100%;
}

.app-nav{ 
  width: 80%;
  height: 140px;
  z-index: 9999;

  position:fixed;
  top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-nav-logo{
  width: 25%;
  margin-left: -50px;
  display: flex;
  justify-content: space-evenly;
}

.app-nav-logo p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.app-nav-logo img{
  width: 120px;
}

.app-nav-ul{
  width: 20%;
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.app-nav-ul a{
  padding: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

  color: #FFFFFF;
  text-decoration: none;
  color: #FFFFFF;
}

.app-nav-ul a:hover{
  cursor: pointer;
  background-color: #C14A4A;
  border-radius: 50px;
  opacity: 0.8;
}

.app-header-info{
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 50%;
}

.app-header-info h1{
  margin: 0%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;

  color: #FFFFFF;
}

.app-header-info p{
  margin: 0%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;

  color: #FFFFFF;
}

.app-header-info button{
  width: 255px;
  height: 100px;
  border:none;
  border-radius: 11px;
  background-color: #C14A4A;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  color: #FFFFFF;
}

.app-header-info button:hover{
  cursor: pointer;
  font-size: 38px;
}

.firstCircle{
  position: absolute;
  width: 12%;
  left: 3%;
  top: 70%;
}

.secondCircle{
  position: absolute;
  width: 12%;
  left: 32%;
  top: 100px;
}

.thirdCircle{
  position: absolute;
  width: 25%;
  right: 2%;
  top: 63%;
}

.section-discover{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-discover-container{
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-discover-container h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;

  color: #FFFFFF;
}

.section-discover-container p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 58px;

  color: #FFFFFF;
}

.section-discover-container div{
  display: flex;
  justify-content: space-between;
}

.boxes{
  width: 200px;
  height: 210px;
  margin-right: 20px;
  background-color: #202027;

  display: flex;
  align-items: center;
  justify-items: center;
}

.boxes:hover{
  cursor: pointer;
  opacity: 0.5;
}

.boxes a{
  color: #FFFFFF;
  text-decoration: none;
}

.boxes h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  margin: 0%;
}

.icon{
  font-size: 90px;
}

.section-discover-imgs{
  width: 40%;
}
.section-discover-imgs img{
  width: 90%;
}








/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
