@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans:wght@700&family=Poppins&display=swap');

.app {
  width: 100vw;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  background-color: #2F303A;
}

.app-header{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(./Components/imgs/firstbackground.svg);
  background-repeat: no-repeat;
  background-size: 29%;
  background-position: left 10% top 100%;
}

.app-nav{ 
  width: 80%;
  height: 100px;
  z-index: 9999;

  position:fixed;
  top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-nav-logo{
  width: 10%;
  display: flex;
  justify-content: space-evenly;
}

.app-nav-logo p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #FFFFFF;
}

.app-nav-logo img{
  width: 100px;
}

.app-nav-ul{
  width: 23%;
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.app-nav-ul a{
  padding: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;

  color: #FFFFFF;
  text-decoration: none;
  color: #FFFFFF;
}

.app-nav-ul a:hover{
  cursor: pointer;
  background: linear-gradient(#3b4e92, #9c346b);
  border-radius: 50px;
  opacity: 0.9;
}

.app-header-info{
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 50%;
}

.app-header-info h1{
  margin: 0%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 65px;

  color: #FFFFFF;
}

.app-header-info p{
  margin: 0%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;

  color: #FFFFFF;
}

.app-header-info button{
  width: 255px;
  height: 100px;
  border:none;
  border-radius: 11px;
  background-color: #C14A4A;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  color: #FFFFFF;
}

.app-header-info a{
  text-decoration: none;
  color: #FFFFFF;
}

.app-header-info button:hover{
  cursor: pointer;
  font-size: 38px;
}

.firstCircle{
  position: absolute;
  width: 12%;
  left: 3%;
  top: 70%;
}

.secondCircle{
  position: absolute;
  width: 12%;
  left: 32%;
  top: 100px;
}

.thirdCircle{
  position: absolute;
  width: 20%;
  right: 5%;
  top: 63%;
}

.section-discover{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-discover-container{
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-discover-container h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;

  color: #FFFFFF;
}

.section-discover-container p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 58px;

  color: #FFFFFF;
}

.section-discover-container div{
  display: flex;
  justify-content: center;
}

.boxes{
  width: 200px;
  height: 210px;
  margin-right: 20px;
  background-color: #202027;

  display: flex;
  align-items: center;
  justify-items: center;
}

.boxes:hover{
  cursor: pointer;
  opacity: 0.5;
}

.boxes a{
  color: #FFFFFF;
  text-decoration: none;
}

.boxes h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  margin: 0%;
}

.icon{
  font-size: 90px;
}

.section-discover-imgs{
  width: 38%;
}

.section-discover-imgs img{
  width: 90%;
}

.section-join{
  margin-bottom: 70px;
  display: flex;
  justify-content: space-evenly;
}

.section-join-container{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-join-container h2{
  margin: 0%;
  margin-top: 50px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;

  color: #607EE9;
}

.section-join-container p{
  margin: 0%;
  margin-bottom: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 144px;

  color: #D34692;
}

.section-join-imgs{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-join-imgs img{
  width: 28%;
}

.section-join-form{
  width: 33%;
  height: 470px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: #202027;
  border-radius: 22px;
}

.section-join-form:hover{
  cursor: pointer;
}

.section-join-form label{
  margin-left: 12%;
  margin-bottom: -20px;
  align-self: flex-start;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;

  color: #FAF6F6;
}

.section-join-form input{
  width: 76%;
  height: 45px;
  border: 2px solid #385CDD;
  border-radius: 8px;
  background-color: transparent;
}

.section-join-form input:focus{
  background-color: transparent;
  border: 2px solid #C14A4A;
}

.section-join-form button{
  width: 77%;
  height: 60px;
  margin-bottom: 20px;
  border: none;
  background-color: #C14A4A;
  border-radius: 11px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 54px;

  color: #FFFFFF;
}

.section-join-form button:hover{
  cursor: pointer;
  font-size: 36px;
  opacity: 0.7;
}

.footer{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #202027;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
} 

.footer a{
  text-decoration: none;
  color: #FFFFFF;
}

.footer ul{
  width: 35%;
  display: flex;
  justify-content: space-around;

  list-style: none;
}

.footer li:hover{
  opacity: 0.5;
}

.footer-socials a{
  display: flex;
  align-items: center;
}

.Menu-page{
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;

}

.menu-header{
  width: 100%;
  height: 100vh;
  background-color: #141417;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-page-logo{
  width: 100%;
  height: 120px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-page-logo p{
  margin-left: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 44px;
  color: #FFFFFF;
}

.menu-greatings{
  width: 90%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu-greatings h1{
  margin: 0%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;

  color: #FFFFFF;
}

.menu-nav ul{
  margin: 0%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menu-nav:hover{
  cursor: pointer;
}

.menu-nav a{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;

  color: #FFFFFF;
  text-decoration: none;
  color: #FFFFFF;
}

.menu-nav a:hover{
  opacity: 0.3;
}

.Popular{
  width: 100%;
  background-color: #070708;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Popular h1{
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 23px;

  color: #FFFFFF;
}

.Popular a{
  text-decoration: none;
  color: #FFFFFF;
}

.popular-album{
  width: 1100px;
  height: 400px;
  margin-top: 10em;
  display: flex;
  align-items: center;
  justify-content: center;


  background-repeat: no-repeat;
  box-shadow: inset -19em 0 5px -5px #070708fb;
}

.popular-album h2{
  margin: 0%;
  margin-left: 30%;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
}

.firstAlb{
  background-image: linear-gradient(to left, #000000 0%, rgba(0, 0, 0, 0.268) 100%), url(./Components/imgs/dragons.svg);
}

.secondAlb{
  background-image: linear-gradient(to left, #000000 0%, rgba(0, 0, 0, 0.268) 100%), url(./Components/imgs/cyberGirl.svg);
  background-image: linear-gradient(to left, #000000 0%, rgba(0, 0, 0, 0.268) 100%), url(/public/imgs/cyberGirl.svg);
}

.thirdAlb{
  background-image: linear-gradient(to left, #000000 0%, rgba(0, 0, 0, 0.268) 100%), url(./Components/imgs/BillieA.svg);
}

.fourthAlb{
  background-image: linear-gradient(to left, #000000 0%, rgba(0, 0, 0, 0.268) 100%), url(./Components/imgs/TaylorS.svg);
}

.fifthAlb{
  margin-bottom: 10em;
  background-image: linear-gradient(to left, #000000 0%, rgba(0, 0, 0, 0.268) 100%), url(./Components/imgs/Cyberpunk.svg);
}

.EvolveAlbum{
  margin: 0%;
  padding: 0%;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #070708;
}

.evolveCover{
  width: 80%;
  height: 570px;
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-image: linear-gradient(168.3deg, rgba(0, 0, 0, 0.76) 7.72%, rgba(0, 0, 0, 0.12) 45.65%, rgba(0, 0, 0, 0.93) 91.42%), url(./Components/imgs/bigDragons.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.evolveCover h1{
font-family: 'Heebo';
text-transform: uppercase;
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 60px;
color: #FFFFFF;
}








/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
